<<<<<<< HEAD
// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.pagerer-container{
  display: inline-block;
  margin-top: 3em;
}
.pagerer-container .js-pager__items{
  float: left;
  text-align: right;
}

.pagerer-panes{
  display: flex;
  flex-direction: row;
}
div.pagerer-container .pagerer-left-pane {
  flex: auto;

width: auto;
}
div.pagerer-container .pagerer-right-pane {
    width: auto;
}
div.pagerer-container {
  display: inline-table;
  border: 0;
  margin: 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  width: 100%;
}

=======
// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
>>>>>>> 7dfe394cc9d3042db4ebabfd67b35a61c3048f95

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
