
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "/partnerships/legal-entities/add/type",
text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Partnership update - Add legal entities</span>
        Confirm legal entity details
      </h1>

      <form action="/partnerships/legal-entities/add/declaration" method="post" class="form">
        <div class="govuk-form-group">

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Faversham Fishing Co-operative Society"
                },
                actions: {
                  items: [
                    {
                      href: "/partnerships/legal-entities/add/name",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Type of organisation"
                },
                value: {
                  text: "Unincorporated association"
                },
                actions: {
                  items: [
                    {
                      href: "/partnerships/legal-entities/add/type",
                      text: "Change",
                      visuallyHiddenText: "type of organisation"
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" name="op" value="confirm">
            Confirm
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="op" value="confirm_and_add_another">
            Confirm and add another legal entity
          </button>
          <a class="govuk-link" href="/partnerships/manage/direct">Cancel</a>
        </div>

      </form>

    </div>
</div>

{% endblock %}
