
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
  href: "/partnerships/legal-entities/add/check",
  text: "Back"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Partnership update - Add legal entities</span>
        Declaration for a [direct/coordinated] partnership amendment
      </h1>

      <form action="/partnerships/legal-entities/add/terms-agree" method="post" class="form">
        <div class="govuk-form-group">
          <div>
            <h2 class="govuk-heading-m">Please confirm that</h2>
          </div>

          <div>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                the organisation is eligible to enter into a partnership
              </li>
              <li>
                your local authority is suitable for nomination as primary authority for the organisation
              </li>
              <li>
                you have notified the organisation that any other authorities that currently regulate it will continue to do so after this partnership is created
              </li>
              <li>
                a written summary of partnership arrangements has been agreed with the organisation
              </li>
              <li>your local authority agrees to the <a href="#">terms and conditions (opens in a new window)</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="edit-confirm" name="waste" type="checkbox" value="on">
              <label class="govuk-label govuk-checkboxes__label" for="edit-confirm">
                I confirm these conditions have been met
              </label>
            </div>
          </div>
        </div>

        <div class="govuk-form-group">
          <div>
            <p>These essential conditions for the continuance of the partnership are required by the Regulatory Enforcement and Sanctions Act 2008 (as amended by the Enterprise Act 2016) and the Primary Authority Statutory Guidance.</p>
          </div>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="/">Cancel</a>
        </div>

      </form>

    </div>
</div>

{% endblock %}
