
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Partnership update - Add legal entities</span>
        Amendment complete
      </h1>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Amendment complete
        </h1>
        <div class="govuk-panel__body">
          Awaiting approval by the business organisation
        </div>
      </div>

      <form action="/index" method="post" class="form">
        <div class="govuk-form-group">
          <div>
            <p>The amended partnership details have been sent to the business organisation for their approval.</p>
          </div>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Done
          </button>
        </div>

      </form>

    </div>
</div>

{% endblock %}
