
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "/partnerships/legal-entities/add/choose-existing",
text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="/partnerships/legal-entities/add/type" method="post" class="form">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="name">
            What is the name of the legal entity?
          </label>
          </h1>
          <div id="example-hint" class="govuk-hint">
            Enter the legal entity name
          </div>
          <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="/partnerships/manage/direct">Cancel</a>
        </div>

      </form>

    </div>
</div>

{% endblock %}
