
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "/partnerships/manage/direct",
text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Partnership update - Add legal entities</span>
        What is the name of the legal entity?
      </h1>

      <form action="/partnerships/legal-entities/add/type" method="post" class="form">
        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            <h2 class="govuk-heading-m">
              Enter the legal entity name
            </h2>
          </label>
          <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="/partnerships/manage/direct">Cancel</a>
        </div>

      </form>

    </div>
</div>

{% endblock %}
