
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "/partnerships/legal-entities/add/name.html",
text: "Back"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Partnership update - Add legal entity</span>
        What type of legal entity is this?
      </h1>

      <form action="/partnerships/legal-entities/add/type-process" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <!-- Registered organisaation -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registered-organisation" name="organisation-type" type="radio" value="registered_organisation" data-aria-controls="conditional-registered-organisation">
                <label class="govuk-label govuk-radios__label" for="registered-organisation">
                  A registered organisation
                </label>
                <span id="registered-partnership-hint" class="govuk-hint govuk-radios__hint">
                  Please choose this option if the organisation or partnership is registered with Companies House.
                </span>
              </div>

              <!-- Charity -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registered-charity" name="organisation-type" type="radio" value="registered_charity" data-aria-controls="conditional-unregistered-organisation">
                <label class="govuk-label govuk-radios__label" for="partnership-regulatory-functions-bespoke">
                  A charity
                </label>
                <span id="registered-charity-hint" class="govuk-hint govuk-radios__hint">
                  Please choose this option if the charity is registered with the Charity Commission.
                </span>
              </div>

              <!-- Other -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partnership-regulatory-functions-bespoke" name="organisation-type" type="radio" value="unregistered" data-aria-controls="conditional-unregistered-organisation">
                <label class="govuk-label govuk-radios__label" for="partnership-regulatory-functions-bespoke">
                  An unregistered organisation
                </label>
                <span id="bespoke-partnership-hint" class="govuk-hint govuk-radios__hint">
                  Please choose this option for all other legal entity types.
                </span>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-unregistered-organisation">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h3 class="govuk-fieldset__heading">
                        What type of organisation is this?
                      </h3>
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="unregistered-organisation--partnership" name="unregistered-organisation-type" type="radio" value="partnership">
                        <label class="govuk-label govuk-radios__label" for="unregistered-organisation--partnership">
                          <div><p>Partnership</p></div>
                          <div><p class="govuk-hint">A partnership is a contractual arrangement between two or more people that is set up with a view to profit and to share the profits amongst the partners. </p></div>
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="unregistered-organisation--sole-trader" name="unregistered-organisation-type" type="radio" value="sole-trader">
                        <label class="govuk-label govuk-radios__label" for="unregistered-organisation--sole-trader">
                          <div><p>Sole Trader</p></div>
                          <div><p class="govuk-hint">A sole trader is an individual who is registered with HMRC for tax purposes.</p></div>
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="unregistered-organisation--association" name="unregistered-organisation-type" type="radio" value="unincorporated-association">
                        <label class="govuk-label govuk-radios__label" for="unregistered-organisation--association">
                          <div><p>Unincorporated association</p></div>
                          <div><p class="govuk-hint">A simple way for a group of volunteers to run an organisation for a common purpose.</p></div>
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="unregistered-organisation--other" name="unregistered-organisation-type" type="radio" value="other">
                        <label class="govuk-label govuk-radios__label" for="unregistered-organisation--other">
                          <div><p>Other</p></div>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="/partnerships/manage">Cancel</a>
        </div>

      </form>

    </div>
</div>

{% endblock %}
