{% extends "layout.html" %}

{% block page_title %}
  Search for a partnership
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

        <div id="block-par-theme-page-title">


            <!-- page-title.html.twig -->

            <h1 class="heading-xlarge">


                <span class="heading-secondary">Primary Authority Register</span>
                Search for a partnership
            </h1>

            <!-- ends page-title.html.twig -->

        </div>
        <div id="block-par-theme-content">


            <div class="views-element-container"><div class="par-partnership-search js-view-dom-id-e21b7a1695236f103278351997e1af7189ab9b79b89d092d004a84710df34a6e">





                <form class="views-exposed-form bef-exposed-form" data-drupal-selector="views-exposed-form-partnership-search-enforcment-flow-search-partnerships" action="/search/searchhome2" method="get" id="views-exposed-form-partnership-search-enforcment-flow-search-partnerships" accept-charset="UTF-8">
                    <div class="views-exposed-form-inner">




                        <div class="form-group js-form-item form-item js-form-type-textfield form-item-keywords js-form-item-keywords">
                            <label for="edit-keywords" class="form-label">PA / Organisation Name</label>


                            <div id="edit-keywords--description" class="form-hint">
                                Enter keyword(s)
                            </div>





                            <span class="form-hint"></span>
                            <input data-drupal-selector="edit-keywords" type="text" id="edit-keywords" name="keywords" value="" size="30" maxlength="128" class="form-text form-control">





                        </div>
                        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                            <div class="form-group">
                                <span class="form-hint"></span>
                                <input data-drupal-selector="edit-submit-partnership-search" type="submit" id="edit-submit-partnership-search" value="Search" class="button js-form-submit form-submit">
                            </div>
                        </div>

                    </div>

                </form>



                <div class="table-scroll-wrapper">
                    <table class="cols-5">
                        <caption class="heading-small">
                            Search results
                        </caption>
                        <thead>
                        <tr>
                            <th id="view-organisation-name-table-column" class="views-field views-field-organisation-name" scope="col">Business</th>
                            <th id="view-authority-name-table-column" class="views-field views-field-authority-name" scope="col">Primary Authority</th>
                            <th id="view-trading-name-table-column" class="views-field views-field-trading-name" scope="col">Trading Name</th>
                            <th id="view-field-legal-entity-table-column" class="views-field views-field-field-legal-entity" scope="col">Legal Entity</th>
                            <th id="view-field-premises-table-column" class="views-field views-field-field-premises" scope="col">Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td headers="view-organisation-name-table-column" class="views-field views-field-organisation-name"><span class="visually-hidden">View the partnership details for </span><a href="/search/partnership/propertymarklimited">Propertymark Limited</a>            </td>
                            <td headers="view-authority-name-table-column" class="views-field views-field-authority-name"><span class="visually-hidden">View the partnership details for </span><a href="/partnership/4">Warwickshire County Council</a>            </td>
                            <td headers="view-trading-name-table-column" class="views-field views-field-trading-name">            </td>
                            <td headers="view-field-legal-entity-table-column" class="views-field views-field-field-legal-entity">
                                <div class="registered_name">National Federation of Property Professionals</div>
                            </td>
                            <td headers="view-field-premises-table-column" class="views-field views-field-field-premises">
                                <div><p class="address" translate="no"><span class="address-line1">Arbon House</span><br>
                                    <span class="address-line2">6 Tournament Court, Edgehill Drive</span><br>
                                    <span class="locality">Warwickshire</span><br>
                                    <span class="postal-code">CV34 6LG</span><br>
                                    <span class="country">United Kingdom</span></p></div>

                                <div class="nation">England</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <div class="pagerer-container">
                    <div class="pagerer-panes">
                        <div class="pagerer-left-pane">    <nav class="pager pagerer-pager-basic" role="navigation" aria-labelledby="pagination-heading">
                            <h4 class="pagination-heading visually-hidden">Pagination</h4>
                            <ul class="pager__items js-pager__items">
                                <li class="pager__item pagerer-prefix">
                                    <span aria-hidden="true" role="presentation">Showing 1-10 of 2629 results</span>
                                </li>
                            </ul>
                        </nav>
                        </div>
                        <div class="pagerer-center-pane"></div>
                        <div class="pagerer-right-pane">    <nav class="pager pagerer-pager-standard" role="navigation" aria-labelledby="pagination-heading">
                            <h4 class="pagination-heading visually-hidden">Pagination</h4>
                            <ul class="pager__items js-pager__items">
                                    <a href="?keywords=&amp;page=1" title="Go to page 2">
                                        <span class="visually-hidden">Page</span>2</a>

                                    <a href="?keywords=&amp;page=2" title="Go to page 3">
                                        <span class="visually-hidden">Page</span>3</a>

                                    <a href="?keywords=&amp;page=3" title="Go to page 4">
                                        <span class="visually-hidden">Page</span>4</a>


                                    <a href="?keywords=&amp;page=4" title="Go to page 5">
                                        <span class="visually-hidden">Page</span>5</a>

                                    <a href="?keywords=&amp;page=1" title="Go to next page" rel="next">
                                        <span class="visually-hidden">Next page</span>
                                        <span aria-hidden="true">Next</span>
                                    </a>

                            </ul>
                        </nav>
                        </div>
                    </div>
                </div>







            </div>
            </div>

        </div>

    </div>

</main>

{% endblock %}
