{% extends "layout.html" %}

{% block page_title %}
About Primary Authority
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Profile</span>
      Mrs Sue Williams
    </h1>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">
          User account
        </h3>
        <p>A user account allows a person to log into the primary authority register.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <p><a href="#">Change email address</a>*</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#">Change notification settings</a>*</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#">Change password</a>*</p>
      </div>

      <div class="govuk-grid-column-full">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          E-Mail
        </h4>
        <p>sue@example.com</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Type of account
        </h4>
        <p>Authority Member</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Last sign in
        </h4>
        <p>3 May 2019</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#">Block user account</a></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#">Change user role</a></p>
      </div>
    </div>
    <p>* Own account only.</p>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Contacts
      </h3>
      <p>
        It is possible for a person to have different contact details depending on the position they hold within an authority or organisation.
      </p>
    </div>

<!--    <div class="govuk-grid-row govuk-!-padding-bottom-5">-->
<!--      <div class="govuk-grid-column-two-thirds">-->
<!--        <p>Mrs Sue Williams</p>-->
<!--      </div>-->
<!--      <div class="govuk-grid-column-one-third">-->
<!--        <p><a href="#" aria-label="Update the contact record for Mrs Sue Williams">Update contact details</a></p>-->
<!--      </div>-->
<!--      <div class="govuk-grid-column-two-thirds">-->
<!--        <p>sue@example.com</p>-->
<!--      </div>-->
<!--      <div class="govuk-grid-column-one-third">-->
<!--        <p>0110 234 765</p>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Remove from an authority</a></p>-->
<!--        </div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Remove from an organisation</a></p>-->
<!--        </div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Remove from a partnership</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Add to an authority</a></p>-->
<!--        </div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Add to an organisation</a></p>-->
<!--        </div>-->
<!--        <div class="govuk-grid-column-one-third">-->
<!--          <p><a href="#">Add to a partnership</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="govuk-grid-column-full">-->
<!--        <details class="govuk-details" data-module="govuk-details">-->
<!--          <summary class="govuk-details__summary">-->
<!--            <span class="govuk-details__summary-text">More information on where this contact is used</span>-->
<!--          </summary>-->
<!--          <div class="govuk-details__text">-->
<!--            <div class="form-group">-->
<!--              <p>Contact at the authority: Hertfordshire County Council <a href="#">Remove from authority</a></p>-->
<!--              <p>Contact at the authority: Surrey County Council <a href="#">Remove from authority</a></p>-->
<!--              <p>Contact at the organisation: Surrey Care Services <a href="#">Remove from organisation</a></p>-->
<!--              <p>General enquiry for: Partnership between Hertfordshire County Council and ABCD Mart Ltd</p>-->
<!--              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>-->
<!--              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </details>-->
<!--      </div>-->
<!--    </div>-->

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-two-thirds">
          <p>Ms Sue Williams</p>
        </div>
        <div class="govuk-grid-column-full">
          <p>sue@example.com</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p>0110 234 765</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p>07999 878 656</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-link">
          <p><a href="#" aria-label="Update the contact record for Mrs Sue Williams">Update contact details</a></p>
        </div>
        <div class="govuk-link">
          <p><a href="#" aria-label="Assign the contact record for Mrs Sue Williams to a different user">Assign to a different user</a></p>
        </div>
        <div class="govuk-link">
          <p><a href="#" aria-label="Remove Mrs Sue Williams">Remove contact</a></p>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">More information on where this contact is used</span>
          </summary>
          <div class="govuk-details__text">
            <div class="form-group">
              <p>Contact at the authority: Hertfordshire County Council <a href="#">Remove from authority</a></p>
              <p>Contact at the authority: Surrey County Council <a href="#">Remove from authority</a></p>
              <p>Contact at the organisation: Surrey Care Services <a href="#">Remove from organisation</a></p>
              <p>General enquiry for: Partnership between Hertfordshire County Council and ABCD Mart Ltd</p>
              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>
              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to an authority</a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to an organisation</a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to a partnership</a>
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <p>Dr Sue Williams</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#" aria-label="Update the contact record for Mrs Sue Williams">Update contact details</a></p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p>sue@example.com</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>0110 234 765</p>
      </div>
      <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">More information on where this contact is used</span>
          </summary>
          <div class="govuk-details__text">
            <div class="form-group">
              <p>Contact at the organisation: Surrey Care Services</p>
              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  This person cannot be removed from the partnership because they are the primary contact. Please update the partnership <a href="/partnerships/manage">Update partnership</a>
                </strong>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to an authority</a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to an organisation</a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="#">Add to a partnership</a>
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <p>Mrs Sue Williams</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#" aria-label="Update the contact record for Mrs Sue Williams">Update contact details</a></p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p>sue@example.com</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>0110 234 765</p>
      </div>
      <div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to an authority</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to an organisation</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to a partnership</a></p>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">More information on where this contact is used</span>
          </summary>
          <div class="govuk-details__text">
            <div class="form-group">
              <table class="govuk-table">
                <caption class="govuk-table__caption">More information on where this contact is used</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Type</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Title</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Authority</td>
                  <td class="govuk-table__cell">Hertfordshire County Council</td>
                  <td class="govuk-table__cell"><a href="">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Authority</td>
                  <td class="govuk-table__cell">Surrey County Council</td>
                  <td class="govuk-table__cell"><a href="">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Organisation</td>
                  <td class="govuk-table__cell">Surrey Care Services</td>
                  <td class="govuk-table__cell"><a href="">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Partnership</td>
                  <td class="govuk-table__cell">Partnership between Hertfordshire County Council and ABCD Mart Ltd</td>
                  <td class="govuk-table__cell"><a href="">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">General Enquiry</td>
                  <td class="govuk-table__cell">Partnership between Hertfordshire County Council and ABCD Mart Ltd</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">General Enquiry</td>
                  <td class="govuk-table__cell">Partnership between Surrey County Council and ABCD Mart Plc</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </details>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        <p>Mrs Sue Williams</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><a href="#" aria-label="Update the contact record for Mrs Sue Williams">Update contact details</a></p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p>sue@example.com</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>0110 234 765</p>
      </div>
      <div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Remove from an authority</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Remove from an organisation</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Remove from a partnership</a></p>
        </div>
      </div>
      <div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to an authority</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to an organisation</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a href="#">Add to a partnership</a></p>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">More information on where this contact is used</span>
          </summary>
          <div class="govuk-details__text">
            <div class="form-group">
              <p>Contact at the authority: Hertfordshire County Council</p>
              <p>Contact at the authority: Surrey County Council</p>
              <p>Contact at the organisation: Surrey Care Services</p>
              <p>General enquiry for: Partnership between Hertfordshire County Council and ABCD Mart Ltd</p>
              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>
              <p>General enquiry for: Partnership between Surrey County Council and ABCD Mart Plc</p>
            </div>
          </div>
        </details>
      </div>
    </div>


    <div class="govuk-link">
      <p><a href="#">Merge contact records</a></p>
    </div>

    <form action="/people" method="post" class="form">
      <button class="govuk-button" data-module="govuk-button">
        Done
      </button>
    </form>

  </div>
</div>

{% endblock %}
