{% extends "layout.html" %}

{% block page_title %}
  Property Mark Limited
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    <div id="block-par-theme-page-title">


      <!-- page-title.html.twig -->

      <h1 class="heading-xlarge">

        <span class="heading-secondary">Primary authority information for</span>
        Propertymark Limited
      </h1>

      <!-- ends page-title.html.twig -->

    </div>


    <div>



            <h3 class="heading-medium -legend">Send a message about this business</h3>



        <p><a href="https://staging-cdn.par-beta.co.uk/enforcement-notice/4/select-authority">Send a notification of a proposed enforcement action</a></p>



        <p><a href="/enquiry">Make an enquiry about this business</a></p>

    </div>

    </div>


          <div>

              <legend>
                  <h3 class="heading-medium -legend">Business Address</h3>          </legend>

              <div><p class="address" translate="no">
                Arbon House, 6 Tournament Court, Edgehill Drive, Warwickshire, CV34 6LG, United Kingdom</p>
              </div>


            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">About the business</h3>          </legend>







          <div>








            </>

          </div>




          <div>






              <div><p>A professional body encompassing membership divisions for estate agents, letting agents, commercial agents, valuers and auctioneers and inventory providers trading under the Propertymark branding. Members can be found using the following link http://www.propertymark.co.uk/#find-an-expert</p></div>

            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>






      <div>



          <legend>
            <h3 class="heading-medium -legend">Number of Members</h3>          </legend>







          <div>








            </>

          </div>




          <div>






              <div>4,500</div>

            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Members</h3>          </legend>







          <div>






              <p>(none)</p>



              <div>








                </>

              </div>


            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Legal Entities</h3>          </legend>







          <div>








            </>

          </div>




          <div>







              <div class="registered_name">National Federation of Property Professionals</div>

              <div class="legal_entity_type">Limited Company</div>

              <div class="registered_number">897907</div>


            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Trading Names</h3>          </legend>







          <div>






              <p>(none)</p>



              <div>

                  <div>



                      <legend>
                          <h3 class="heading-medium -legend">Contacts at the Business</h3>          </legend>







                      <div>








                      </>

                  </div>




                  <div>






                      <div>Mr James Greenaway</div><div>01926 414073</div><div>07825 263817</div><div><a href="mailto:jamesgreenaway@warwickshire.gov.uk">jamesgreenaway@warwickshire.gov.uk</a> (preferred)</div>
                      <div><p>I am the primary business contact.</p>
                      </div>


                  </>

              </div>




              <div>






                  <div>Mr Marcus Saban</div><div>01926 414071</div><div>07787 510738</div><div><a href="mailto:marcussaban@warwickshire.gov.uk">marcussaban@warwickshire.gov.uk</a> (preferred)</div>

              </>

          </div>

              </div>
<p></p>

            </>

          </div>


        </>

      </div>
<p></p>
<h1 class="heading-xlarge">
   <p></p> Warwickshire County Council
</h1>


      <div>




            <h3 class="heading-medium -legend">In partnership since</h3>







          <div>








            </>

          </div>




          <div>






              <div><time datetime="2013-10-30T12:00:00Z">30 October 2013</time>
              </div>

            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Partnered for</h3>          </legend>







          <div>








            </>

          </div>




          <div>







              <div class="function_name">Petrol storage certification</div>


            </>

          </div>




          <div>







              <div class="function_name">Explosives licensing</div>


            </>

          </div>




          <div>







              <div class="function_name">Licensing</div>


            </>

          </div>




          <div>







              <div class="function_name">Fire safety</div>


            </>

          </div>




          <div>







              <div class="function_name">Trading standards</div>


            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">About the partnership</h3>          </legend>







          <div>








            </>

          </div>




          <div>






              <div><p>The primary Authority will be providing assured advice on request to the federation, for the benefit of its members.</p></div>

            </>

          </div>




          <div>








            </>

          </div>


        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Inspection plans:</h3>          </legend>



          <a href="https://staging-cdn.par-beta.co.uk/partnership/4/inspection/search">See all Inspection Plans</a>

        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Advice and Documents:</h3>          </legend>



          <a href="https://staging-cdn.par-beta.co.uk/partnership/4/advice/search">See all Advice</a>

        </>

      </div>




      <div>



          <legend>
            <h3 class="heading-medium -legend">Contacts at the Primary Authority</h3>          </legend>







          <div>








            </>

          </div>




          <div>






              <div>Mr James Greenaway</div><div>01926 414073</div><div>07825 263817</div><div><a href="mailto:jamesgreenaway@warwickshire.gov.uk">jamesgreenaway@warwickshire.gov.uk</a> (preferred)</div>
              <div><p>I am the Primary Contact.</p>
              </div>


            </>

          </div>




          <div>






              <div>Mr Marcus Saban</div><div>01926 414071</div><div>07787 510738</div><div><a href="mailto:marcussaban@warwickshire.gov.uk">marcussaban@warwickshire.gov.uk</a> (preferred)</div>

            </>

          </div>




          <div>








            </>

          </div>


        </>
<p></p>
      </div>
      <a href="https://staging-cdn.par-beta.co.uk/dashboard?par_data_partnership=4" class="button">Done</a>
    </div>

  </div>

</main>

{% endblock %}
