
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Approval by OSU of partnership amendments</span>
        Approval complete
      </h1>

      <form action="/index" method="post" class="form">
        <div class="govuk-form-group">
          <div>
            <p>The amended partnership is now in force.</p>
          </div>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Done
          </button>
        </div>

      </form>

    </div>
</div>

{% endblock %}
