{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Approval by OSU of partnership amendments</span>
      Review the amended partnership details
    </h1>

    <h2 class="govuk-heading-l">
      <span class="govuk-caption-xl">Organisation</span>
      Sesame Street Pop-up Cafe
    </h2>

    <h2 class="govuk-heading-l">
      <span class="govuk-caption-xl">In partnership with</span>
      Sesame Street Borough Council
    </h2>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        About the partnership
      </h3>
      <p>
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
        corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the
        holistic world view of disruptive innovation via workplace diversity and empowerment.
      </p>
      <p>
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going
        forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud
        solution. User generated content in real-time will have multiple touchpoints for offshoring.
      </p>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital
        divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will
        close the loop on focusing solely on the bottom line.
      </p>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">
          Partnered for
        </h3>
        <ul class="govuk-list">
          <li>Health and Safety</li>
          <li>Environmental health</li>
          <li>Licensing</li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">
          In partnership since
        </h3>
        <p>
          28 November 2016
        </p>
      </div>
    </div>

    <div class="">
      <h2 class="govuk-heading-l">
        Information about the organisation
      </h2>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Address
      </h3>
      <p> Checkout Building, Shire Park, , Welwyn Garden City, AL7 1GA, United Kingdom
      </p>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        About the organisation
      </h3>
      <p>
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
        corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the
        holistic world view of disruptive innovation via workplace diversity and empowerment.
      </p>
      <p>
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going
        forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud
        solution. User generated content in real-time will have multiple touchpoints for offshoring.
      </p>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Standard industrial classification (SIC) codes
      </h3>
      <ul class="govuk-list">
        <li>(56102) Unlicenced restaurants and cafes</li>
        <li>(56103) Take-away food shops and mobile food stands</li>
        <li>(47110) Retail sale in non-specialised stores with food, beverages or tobacco predominating</li>
      </ul>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Number of Employees
      </h3>
      <p>
        250+
      </p>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Legal entities</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Active from</th>
            <th scope="col" class="govuk-table__header">Active to</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sesame Cafes Ltd<br/>Private Limited Company<br/>209823156</td>
            <td class="govuk-table__cell">29 November 2021</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sesame Restaurants Ltd<br/>Private Limited Company<br/>209823156</td>
            <td class="govuk-table__cell">29 November 2021</td>
            <td class="govuk-table__cell">13 April 2022</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sesame Distribution plc<br/>Public Limited Company<br/>456951758</td>
            <td class="govuk-table__cell">1 March 2022</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Trading names
      </h3>
      <ul class="govuk-list">
        <li>Sesame Street Cafe</li>
        <li>Sesame Street Pop-up Cafe</li>
        <li>Sesame Restaurant</li>
      </ul>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Inspection Plan
      </h3>
      <p>
        <a href="#">See the inspection plan</a>
      </p>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">
        Advice
      </h3>
      <p>
        <a href="#">See all the advice</a>
      </p>
    </div>

    <div class="">
      <h2 class="govuk-heading-l">
        Contact information
      </h2>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5 govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contact information
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#partnership-contacts-authority">
            Authority contacts
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#partnership-contacts-organisation">
            Organisation contacts
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="partnership-contacts-authority">
        <h3 class="govuk-heading-m">Contacts at the authority</h3>

        <div class="govuk-grid-row govuk-form-group">
          <div class="govuk-grid-column-full">
            <p><strong>Mrs Jane Smith</strong> (primary contact)
            <br>017088898763
            <br>07999888777
            <br><a href="#">jane.smith@example.com</a></p>
          </div>
        </div>

        <div class="govuk-grid-row govuk-form-group">
          <div class="govuk-grid-column-full">
            <p>Mr James McKeith
              <br>07999888777
              <br>07999888777
              <br><a href="#">james.mckeith@example.com</a></p>
          </div>
        </div>

        <div class="govuk-grid-row govuk-form-group">
          <div class="govuk-grid-column-full">
            <p>Mrs Sally Williams
              <br>017088898763
              <br>07999888777
              <br><a href="#">sally.williams@example.com</a></p>
          </div>
        </div>

      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="partnership-contacts-organisation">
        <h3 class="govuk-heading-m">Contacts at the organisation</h3>

        <ul class="govuk-list">
          <li class="govuk-!-padding-bottom-5"><strong>Bob Davies</strong> (primary contact)<br>07999888777<br>bob.davies@example.com</li>
          <li class="govuk-!-padding-bottom-5">Jon Stevens<br>07999888777<br>jon.Stevens@example.com</li>
        </ul>
      </section>
    </div>

    <form action="/partnerships/approve-amendments/osu/declaration" method="post" class="form">
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="/">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
