{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Approval by OSU of partnership amendments</span>
      Review the amended partnership details
    </h1>

    <h2 class="govuk-heading-l">
      <span class="govuk-caption-xl">Organisation</span>
      Sesame Street Pop-up Cafe
    </h2>

    <h2 class="govuk-heading-l">
      <span class="govuk-caption-xl">In partnership with</span>
      Sesame Street Borough Council
    </h2>

    <div>
      <h2 class="govuk-heading-l">
        New legal entities added to the partnership
      </h2>
      <p>Please review below the details of the legal entities that have been added to this partnership.</p>
    </div>

    <div class="govuk-!-padding-bottom-5">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">New legal entities</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Active from</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sesame Global Domination Ltd<br/>Private Limited Company<br/>209823156</td>
            <td class="govuk-table__cell">12 October 2022</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sesame World Holdings plc<br/>Public Limited Company<br/>48653442</td>
            <td class="govuk-table__cell">12 October 2022</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p>If the details are correct click Continue.</p>
    </div>

    <form action="/partnerships/approve-amendments/osu/declaration" method="post" class="form">
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="/">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
