
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Unappoint person
      </h1>

      <form action="/people/manage" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint-auth">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Which of these contact records would you like to unappoint?
              </h3>
            </legend>
            <span id="waste-hint-auth" class="govuk-hint">
      Select all that apply.
    </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" checked value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  <p>Mrs Sue Williams<br>sue@example.com<br>0110 234 765</p>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" checked value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  <p>Ms Sue Williams<br>sue@example.com<br>0110 777 333</p>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" checked value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  <p>Dr Sue Williams<br>sue@example.com<br>0110 234 999</p>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <p><a class="govuk-link" href="/people/manage">Cancel</a></p>
        </div>

      </form>

    </div>
</div>

{% endblock %}
