
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">New partnership application</span>
        Are you looking for one of these businesses?
      </h1>

      <form action="/partnerships/apply/existing-process" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Choose an existing organisation or create a new organisation
              </h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="edit-par-data-organisation-id-3294" name="par_data_organisation_id" type="radio" value="3294">
                <label class="govuk-label govuk-radios__label" for="edit-par-data-organisation-id-3294">
                  <div class="organisation-name">Trade Organisation Ltd</div>
                  <div><p>Organisation Headquarters, The Boulevard, Business Road, SW11 5TG, United Kingdom</p></div>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="edit-par-data-organisation-id-2354" name="par_data_organisation_id" type="radio" value="2354">
                <label class="govuk-label govuk-radios__label" for="edit-par-data-organisation-id-2354">
                  <div class="organisation-name">Retail Organisation Ltd</div>
                  <div><p>Organisation Shop, The Boulevard, Business Road, SW11 5TG, United Kingdom</p></div>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="edit-par-data-organisation-id-new" name="par_data_organisation_id" type="radio" value="new">
                <label class="govuk-label govuk-radios__label" for="edit-par-data-organisation-id-new">
                  No, the organisation is not currently in a partnership with any other primary authority
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <p><a class="govuk-link" href="/">Cancel</a></p>
        </div>

      </form>

    </div>
</div>

{% endblock %}
