{% extends "layout.html" %}

{% block page_title %}
  About Primary Authority
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Primary Authority partnership information</span>
      How many members do you have?
    </h1>

    <form action="/partnerships/manage/coordinated" method="post" class="form">
      <div class="govuk-form-group">
        <label class="govuk-label" for="number-members">
          <h2 class="govuk-heading-m">
            Confirm how many current members are covered by this partnership.
          </h2>
        </label>
        <input class="govuk-input govuk-input--width-20" id="number-members" name="number-members" value="100" type="text">
      </div>

      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
        <p><a class="govuk-link" href="/partnerships/manage">Cancel</a></p>
      </div>

    </form>

  </div>
</div>

{% endblock %}
