{% extends "layout.html" %}

{% block page_title %}
About Primary Authority
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Primary Authority Register
        </h1>

        <div>
            <h3 class="govuk-heading-m">Partnerships</h3>

            <p>
                <a href="partnerships/manage/partnership">Manage partnerships</a>
            </p>
        </div>


    </div>
</div>

{% endblock %}
