
{% extends "layout.html" %}

{% block pageTitle %}
  The Primary Authority Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The Primary Authority Register Prototype
        <span class="govuk-caption-xl">v1.5.0</span>
      </h1>
      <p>
        This prototype allows us to demo proposed features and changes.
      </p>

      <p>
        Please use this for reference with features in development, this does not represent the state of the Primary Authority Register.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>Links for proposed journeys within PAR will be added below as and when the are needed.</p>

      <h2 class="govuk-heading-m">Start Page</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/start">Start Page</a></li>
      </ul>

      <h2 class="govuk-heading-m">User Journeys</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/partnerships/apply">Apply for a partnership</a></li>
        <li><a href="/partnerships/complete">Complete a partnership</a><br><a href="/partnerships/complete/additional-legal-entities">Complete a partnership with an existing organisation</a><br><a href="/partnerships/complete/members">Complete a co-ordinated partnership</a></li>
        <li><a href="/partnerships/approve">Approve Partnership</a></li>
        <li><a href="/partnerships/manage">Manage Partnership</a></li>
<!--        <li><a href="#">Search for partnership</a></li>-->
<!--        <li><a href="#">Send Enforcement Notice</a></li>-->
<!--        <li><a href="#">Approve Enforcement Notice</a></li>-->
      </ul>
    </div>
</div>

{% endblock %}
