{% extends "layout.html" %}
{% block proposition_header %}

<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="/" id="proposition-name">
                {# Set serviceName in config.js. Use a block to override on a page. #}
                {% block service_name %}
                {% if serviceName %} {{ serviceName }} {% endif %}
                {% endblock %}
            </a>

            <ul id="proposition-links">
                <li><a href="url-to-page-1">
                </a></li>
                <li><a href="url-to-page-2"></a></li>
                <li><a href="url-to-page-2"></a></li>

            </ul>

        </nav>
    </div>
</div>

{% endblock %}


{% block page_title %}
  Log in
{% endblock %}

{% block content %}
<main id="content" role="main">

 <!--{% include "includes/breadcrumb_examples.html" %}-->

  <form action="/dashboard" method="post" class="form">

    <h1 class="form-title heading-large">
      Your details
    </h1>

    <!-- E-mail or username -->
    <div class="form-group">
      <label class="form-label" for="full-name">
        E-mail or username
        <span class="form-hint">Enter your e-mail address or username.</span>
      </label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label">
        Password
        <span class="form-hint">
          Enter the password that accompanies your e-mail.
        </span>
      </label>
      <input type="password" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Log in">
        <onclick="form.submit();">

    </div>

  </form>

</main>
{% endblock %}
