{% extends "layout.html" %}

{% block page_title %}
  About Primary Authority
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        About {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

<p>
  Primary Authority is a different way of delivering local regulation, enabling local authorities to help businesses comply with regulations.</p>
<p>
  For more information about how Primary Authority works, read <a href="#">Primary Authority: an overview.</a></p>
      <p>Find out which businesses are in a Primary Authority by visiting the <a href="#">Primary Authority Register.</a></p>
      <p>For useful documents for local authorities using Primary Authority, visit <a href="#">Primary Authority Documents.</a></p>

  <p>Login to the Primary Authority Register</p>
      <p>
        <a class="button button-start" href="/login" role="button">Log in</a>
      </p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">More info</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/guidance/local-regulation-primary-authority">Primary Authority: an overview</a></li>
            <li><a href="https://www.gov.uk/government/collections/primary-authority-documents">Primary Authority documents</a></li>
            <li><a href="hhttps://primary-authority.beis.gov.uk/par" class="bold-xsmall">Primary Authority Register<span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
