{% extends "layout.html" %}

{% block page_title %}
PA Terms and Conditions
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Primary Authority Terms and Conditions</h1>

        <h2 class="govuk-heading-l">Statutory Guidance</h2>

        <p>In making an application for nomination, agreement is given to have regard to any guidance issued by the
            Secretary of State under section 30A of the Regulatory Enforcement and Sanctions Act 20081 [A qualifying
            regulator, supporting regulator, complementary regulator or co-ordinator must have regard to the Primary
            Authority Statutory Guidance issued under s30A RESA (S30A(4)RESA)]</p>

        <h2 class="govuk-heading-l">Partnership Scope</h2>

        <p>Where an application for nomination relates to a business or co-ordinator that has no existing primary
            authority, it is accepted that the Secretary of State will treat this application to nominate the local
            authority as primary authority in respect of all of its relevant functions.</p>

        <p>Where an application for nomination relates to a business or co-ordinator that has one or more existing
            primary authorities, it is accepted that the Secretary of State will, by default, treat this application
            to
            nominate the local authority as primary authority in respect of all of its relevant functions that are
            not
            listed as partnership functions of existing primary authorities.</p>

        <p>Where an application for nomination requests a variation to the default approach to allocation of
            partnership functions, it is accepted that the Secretary of State will consider the request and will
            consult with any primary authority whose partnership will be affected before varying the partnership
            functions of that primary authority’s partnership.</p>

        <p>Where a business or a co-ordinator has more than one primary authority, it is accepted that the Secretary
            of State will, on revocation of its partnership with one primary authority, consider whether the
            partnership functions of that partnership could be specified in relation to its partnership with another
            primary authority. It is accepted that where the Secretary of State considers it appropriate to vary the
            specified partnership functions he will consult with the parties that would be affected by such a
            variation.</p>

        <h2 class="govuk-heading-l">Sharing information</h2>

        <p>Information including personal data which is supplied to the Secretary of State , primary authorities,
            national regulators and supporting regulators, including through the Primary Authority Register, will be
            shared with local authorities, national regulators and supporting regulators to facilitate the operation
            of
            Primary Authority.</p>

        <p>Where a business or co-ordinator has more than one primary authority, it is accepted that information
            including personal data and notification of proposed enforcement actions will be shared with all the
            primary authorities of that business or co-ordinator to facilitate the operation of Primary
            Authority.</p>

        <p>The Secretary of State may in accordance with the requirements of the Data Protection Act 1998 share
            information including personal data with other public sector organisations, such as Government
            Departments or regulators to facilitate the operation of Primary Authority.</p>

        <p>The <a
                href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrialstrategy/about/personal-information-charter"
                class="govuk-link">BEIS Personal Information Charter</a> sets out further information about how this
            information is used, how we maintain the security of this information, and rights to access the personal
            information we hold.</p>

        <h2 class="govuk-heading-l">Confidentiality</h2>

        <p>The Secretary of State, the primary authority and the co-ordinator will treat all confidential
            information as such and will safeguard it accordingly. The Secretary of State and the primary authority
            may in accordance with their functions and obligations need to disclose confidential information to
            other government departments and local authorities. This information will only be disclosed following
            consultation with the owner/originator of the confidential information for the purposes of facilitating
            the operation of Primary Authority. The Secretary of State and the primary authority may also in
            accordance with their functions and obligations disclose confidential information if legally obliged to
            do so.</p>

        <h2 class="govuk-heading-l">Access to information obligations</h2>

        <p>Information provided to the Secretary of State, primary authorities, national regulators and supporting
            regulators including personal information, may be subject to publication or disclosure in accordance
            with access to information legislation. The regulated person and co-ordinator agrees to respond to any
            requests for assistance, at their expense, to enable compliance with any relevant disclosure requests
            within the relevant time limits for compliance.</p>

        <p>Although the Secretary of State, primary authorities, national regulators and supporting regulators will
            take into account any representations that are made about the disclosure of information which concerns
            the regulated person or member of a regulated group, the public bodies are responsible for determining
            whether any information is exempt from disclosure in accordance with access to information
            obligations.</p>

        <h2 class="govuk-heading-l">Maintaining Details</h2>

        <p>It is accepted that certain changes to partners will impact on the validity of the Secretary of State’s
            nomination. Such changes, as set below, require notification to the Secretary of State:</p>

        <h3 class="govuk-heading-m">Direct Partnerships - regulated person</h3>

        <p>The regulated person is responsible for notifying the primary authority of any changes to the business. The
            regulated person must notify the Secretary of State of any change to the business with regards to its name,
            its company number (where applicable), or the nature of the legal entity (sole trader/ partnership/ limited
            company etc.). The regulated person must also notify the Secretary of State of the addition or removal of a
            regulated person or persons. Contact details or trading name(s) should be updated as soon as reasonably
            practicable by request to the primary authority or by directly accessing the Primary Authority Register</p>

        <h3 class="govuk-heading-m">Co-ordinator</h3>

        <p>The co-ordinator is required to notify the Secretary of State of any change to the co-ordinator with regards
            to its name, its company number (where applicable), or the nature of the legal entity (sole trader/
            partnership/ limited company etc).</p>

        <p>The co-ordinator’s contact details or trading name(s) should be updated as soon as reasonably practicable by
            request to the primary authority or by directly accessing the Primary Authority Register.</p>

        <p>The co-ordinator accepts responsibility for meeting the statutory obligations in respect of maintaining a
            definitive list of businesses in the regulated group, keeping it up-to-date, and providing copies as
            required.</p>

        <h3 class="govuk-heading-m">Primary authority</h3>

        <p>The primary authority is required to notify the Secretary of State of any change to the legal status of the
            local authority that is nominated as a primary authority.</p>

        <p>The primary authority should ensure that any changes to its contact details are updated on the Primary
            Authority Register as soon as reasonably practicable.</p>

        <p>The primary authority has an ongoing responsibility to ensure that the information that it publishes via the
            Primary Authority Register is kept up-to-date.</p>

        <h3 class="govuk-heading-m">Notifications</h3>

        <p>Making an application for nomination indicates consent to receive notifications from the Primary Authority
            Register. These notifications will be sent by email and are essential to the operation of Primary
            Authority.</p>

        <h3 class="govuk-heading-m">Email updates</h3>

        <p>Making an application for nomination indicates consent to receiving email newsletters and other updates about
            Primary Authority and the Secretary of State. If you later decide that you do not want to receive this
            correspondence you will be able to unsubscribe.</p>

        <h3 class="govuk-heading-m">Revocation</h3>

        <p>A primary authority partnership will continue unless revoked by the Secretary of State in accordance with the
            Regulatory Enforcement and Sanctions Act 2008 section 23B.</p>

        <h3 class="govuk-heading-m">Entire agreement</h3>

        <p>Nothing contained in any prior or subsequent agreements between the primary authority and the regulated
            person or co-ordinator, including in Summaries of Partnership Arrangements, service level agreements or
            memoranda of understanding, shall override, modify or affect the application or interpretation of these
            terms and conditions.</p>

        <h3 class="govuk-heading-m">Changes to these Terms and Conditions</h3>

        <p>The Secretary of State reserves the right to vary these terms and conditions. The Secretary of State will
            make contact where necessary if any variation is to take place and will provide at least 30 days’ notice
            before any changes come into effect.</p>

    </div>
</div>

{% endblock %}
