{% extends "layout.html" %}
{% block proposition_header %}

<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="/startpage" id="proposition-name">
                {# Set serviceName in config.js. Use a block to override on a page. #}
                {% block service_name %}
                {% if serviceName %} {{ serviceName }} {% endif %}
                {% endblock %}
            </a>


            <ul id="proposition-links">
                <li><a href="/dashboard">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;jamesgreenaway@warwickshire.gov.uk</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Log out</a></li>
            </ul>

        </nav>
    </div>
</div>

{% endblock %}

{% block page_title %}
  Enquiry message
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">


        <span class="heading-secondary">Enquiry message</span>
          From clare.scawthorn@londonfire.co.uk
      </h1>

        <div class="table-scroll-wrapper">
            <table class="cols-5">
                <thead>
                <tr>
                    <th id="view-organisation-name-table-column" class="views-field views-field-organisation-name" scope="col">Recieved Date</th>
                    <th id="view-authority-name-table-column" class="views-field views-field-authority-name" scope="col">Type of enquiry</th>
                    <th id="view-trading-name-table-column" class="views-field views-field-trading-name" scope="col">Enforcing authority</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td headers="view-organisation-name-table-column" class="views-field views-field-organisation-name"><span class="visually-hidden">View the partnership details for </span><a>15 March 2018</a>            </td>
                    <td headers="view-authority-name-table-column" class="views-field views-field-authority-name"><span class="visually-hidden">View the partnership details for </span><a>General enquiry</a>            </td>
                    <td headers="view-trading-name-table-column" class="views-field views-field-trading-name"><a>Mole Valley District Council</a>            </td>


                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-border-wide">
            <p>
                It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application. Hon Minister for Foreign Ministry, UK businesses represented tonight and all of you attending this important event, you are very welcome to the Residence and thank you for joining us. The Office for National Statistics has today released data showing that the Scottish unemployment rate is 4.6 per cent, which is below the rate of 4.9 per cent for the whole of the UK. The performance of the Groceries Code Adjudicator (GCA) will be examined in a statutory review launched today by Business Minister Margot James. Employment in Wales is at a record high as the latest snapshot of the jobs market to follow the EU referendum vote points to a Welsh economy setting the pace for the rest of the country.
            </p>
            <p><a href="/test">npmp12-4-12.docx</a></p>
        </div>




        <form action="/enquiryreplyconfirmation">

                <div><label class="form-label" for="textarea"> Please provide a message for the enquiry
                </label>
                    <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea></div>
                <br></br>
                <div class="form-group">
                    <label class="form-label" for="file-input">
                        Upload a file
                    </label>
                    <input type="file" id="file-input">
                </div>
                <input class="button" type="submit" value="Submit">

      </form>

        <p></p>
<p><a href="/enquiries">Cancel</a></p>
    </div>
  </div>
</main>
{% endblock %}
